/* thefxxktd */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}
body {
  background: #fff;
}
.el-table .cell {
  width: inherit;
  display: block;
}
</style>
<style>
#app {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
}

.pickdate .el-input__prefix,
.itemname .el-input__prefix {
  display: none;
}

.pickdate,
.itemname {
  width: auto !important;
}

.pickdate input,
.itemname input {
  padding-left: 0 !important;
  padding-right: 0 !important;
  line-height: 1 !important;
  width: 3rem;
  text-align: center;
  background: none;
  font-weight: 600;
  border: none;
  color: #333;
}

.itemname input {
  text-align: left
}

.itemname .el-select .el-input .el-select__caret {
  height: auto;
  color: #333;
  line-height: .8rem;
  font-size: .5rem;
}

.echart {
  width: 100vw;
  height: 75vw;
  margin: 0 auto;
  overflow: hidden;
}

.echart .echart-wrapper {
  transform-origin: top left;
  -webkit-transform-origin: top left;
  width: 100%;
  height: 100%;
  /* transform:scale(.5);
  -webkit-transform:scale(.5); */
}

.tabs {
  font-size: 0;
  padding: .2rem 0 .5rem;
}

.tab-item {
  display: inline-block;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 .5rem;
  font-size: .6rem;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  background: #c3c3c3;
  color: #333;
  width: 33.333333%;
  text-align:center;
}

.tab-item.router-link-active {
  background: #f0cb96;
}

.extrainfo {
  margin: .5rem;
}

.extrainfo p {
  line-height: 1.5;
  font-size: .6rem;
  color: #333;
  border: 1px solid #ddd;
  padding: .5rem;
  border-radius: 4px;
}

.el-form {
  padding: 0 .5rem;
}

.el-form-item {
  margin-bottom: .5rem;
}

.el-form-item__label {
  font-size: .5rem;
  padding-right: 0 !important;
  padding-left: 5px;
}

.el-form-item__content {}

.el-input {
  font-size: 0;
}

.el-input .el-input__inner,
.el-select .el-input__inner {
  font-size: .5rem;
  line-height: 40px;
  height: auto;
  padding: 0 5px;
}

.el-date-editor .el-input__prefix,
.el-input__suffix {
  height: 40px;
}

.el-input--prefix .el-input__inner {
  font-size: .5rem;
  line-height: 40px;
}

.el-select .el-input .el-select__caret {
  height: 40px;
}

.el-input--prefix .el-input__icon {
  font-size: .5rem;
}

.el-table__body-wrapper {
  -webkit-overflow-scrolling: touch;
}

.summuryData {
  font-size: .5rem;
  padding: 5px 0;
}

.summuryData .statichead {
  float: left;
}

.summuryData .statics {
  text-align: right;
  color:#f28227;
  float: right;
  font-weight: 600;
}

.echart.long {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.echart.long .echart-wrapper {
  width: 180%;
}

.el-input__icon.el-icon-date {
  display: none;
}

.el-date-picker {
  width: 100%;
  left: 0 !important;
}

.el-date-picker .el-picker-panel__content {
  width: 100%;
  margin: 15px 0;
}

.el-picker-panel__icon-btn {
  font-size: .7rem;
}

.ellepsing {
  width: 100px;
}

.ellepsing .cell {
  white-space: nowrap;
}
#listMonthlySaleLog {
  width: 15rem;
  line-height: 1rem;
  margin: 0.5rem 0.5rem;
  display: block;
  width: 15rem;
}

#listMonthlySaleLog p {
  width: 100%;
}

#listMonthlySaleLog p:after {
  content: '';
  display: block;
  clear: both;
}

#listMonthlySaleLog p:first-child {
  font-weight: 600;
}

#listMonthlySaleLog p:first-child span:first-child {
  text-decoration: none;
}

#listMonthlySaleLog p:last-child span:first-child {
  text-decoration: none;
}

#listMonthlySaleLog p span:first-child {
  width: 19%;
  text-decoration: underline;
}

#listMonthlySaleLog span {
  width: 27%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  border-bottom: 1px solid #f5f5f5;
  font-size: 12px;
  color: #666;
}

.maintit {
  background: #f0cb96;
  margin: 10px 0;
  padding: 10px 15px;
  color: #333;
  font-size: .5rem;
  display: inline-block;
  font-weight: 600;
}

.light-box-info {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1999;
  background: rgba(0, 0, 0, .7);
}

.light-box-info .flex {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  width: 100%;
  height: 100%;
}

.light-box-info .wrapper {
  background: #fff;
  border-radius: 4px;
  width: 80vw;
  padding: .8rem;
}

.light-box-info .wrapper .shopname {
  font-size: .8rem;
  color: #f28227;
  font-weight: 900
}

.light-box-info .wrapper .subtit {
  font-size: .7rem;
  margin-top: .5rem;
  font-weight: 500;
}

.light-box-info .wrapper .year {
  font-size: .6rem;
  margin-top: .5rem;
}

.light-box-info .wrapper .range {
  font-size: .6rem;
  color: #333;
  margin-top: .5rem;
}

.light-box-info .wrapper .info {
  font-size: .5rem;
  color: #888;
  margin-top: 1rem;
  line-height: 1.4;
}

.subtit {
  font-size: .7rem;
  font-weight: 600;
  color: #333;
}

.flex {
  display: -webkit-box;
  -webkit-box-pack: justify;
}

.cur-day, .cur-month {
  width: 50%;
  padding: .2rem;
}

.cur-day .wrapper, .cur-month .wrapper {
  background: #f5f5f5;
  padding: .3rem;
}

.cur-day.w100 {
  width: 100%;
}

.pragrah {
  font-size: 0;
  margin-top: .5rem;
  position: relative;
}

.pragrah:after {
  content: '';
  display: block;
  clear: both;
}

.pragrah span {
  display: inline-block;
  vertical-align: top;
  font-size: .5rem;
}

.pragrah span.ph {
  float: left;
}

.pragrah .light {
  display: block;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -.4rem;
  right: 0;
}

.pragrah .light.red {
  background: #fc605c;
  box-shadow: 0 0 10px 0 #fc605c;
}

.pragrah .light.base {
  background: #fec041;
  box-shadow: 0 0 10px 0 #fec041;
}

.pragrah .light.green {
  background: #34c749;
  box-shadow: 0 0 10px 0 #34c749;
}

.pragrah span.pb {
  color: #f28227;
  font-weight: 600;
  font-size: .5rem;
  padding-left: 2px;
  float: right;
  text-align: right;
}

.pragrah .light +.pb {
  padding-right: 1rem;
}

.top3 {
  display: inline-block;
  width: calc(33% - .6rem);
  height: 60px;
  background: #f5f5f5;
  text-align: center;
  margin: .3rem;
}

.top3 .name {
  font-size: 12px;
  margin-top: 10px;
}

.top3 .count {
  color: #f28227;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

.pickdate, .rank-mode {
  display: inline-block;
  padding: 0 5px;
  margin-right: 5px;
  position: relative;
}

.rank-mode:after, .pickdate:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url('../img/arrd.png') center no-repeat;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: -5px;
}

.rank-mode {
  position: relative;
  display: inline-block;
}

.rank-mode:after {
  display: none;
}

.pick-rank {
  opacity: 0;
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.gomarket {
  position: absolute;
  top: 10px;
  font-size: .5rem;
  right: 5px;
  color: #444;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
}

.inline-container {
  padding: 0 .3rem;
}

.inline-row {
  margin-left: -5px;
  margin-right: -5px;
  font-size: 0;
}

.nodata {
  font-size: .7rem;
  color: #888;
  background: #f5f5f5;
  border-radius: 4px;
  text-align: center;
  padding: 10px 0;
}

.nopad {
  padding: 0 !important;
}

.fktable {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.table-wrapper.fixed {
  position: absolute;
  width: 100px;
  left: 0;
  top: 0;
  border-right: 1px solid #ddd;
  overflow: hidden;
}

.table-wrapper.fixed.shadow {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
  border-right: 1px solid transparent;
  z-index: 100;
}

.table-wrapper {
  width: 100%;
  overflow: scroll;
}

.mytable {
  width: 570px
}

.mytable1 {
  width: 100%;
}

.mytable th, .mytable td {
  font-size: .5rem;
  text-align: right;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  color: #333;
  line-height: 1;
  vertical-align: middle;
}

.mytable th div, .mytable td div {
  padding: .5rem .3rem;
  vertical-align: initial;
}

.mytable th div p, .mytable td div p {
  vertical-align: initial;
  margin-top: .2rem;
}
.mytable th div.th{
  height:2rem;
  padding:0;
}
.mytable th div.th .wrap{
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  width:100%;
  height: 100%;
}
.mytable th div.th .wrap .right{
  text-align: right;
  display:block;
  width:100%;
}
.mytable th div.th .wrap .carets{
  height: 100%;
  position: relative;
}
.mytable th:first-child, .mytable td:first-child {
  color: transparent;
  border-right: none;
}

.mytable1 th:first-child, .mytable1 td:first-child {
  color: #888;
  border-right: 1px solid #ddd;
}

.mytable1 td:first-child {
  color: #333;
}

.table-wrapper.fixed .mytable th:first-child, .table-wrapper.fixed .mytable td:first-child {
  opacity: 1;
  border-bottom: 1px solid #ddd;
  border-right: none;
  color: #333;
  text-align: left;
}

.table-wrapper .mytable th:first-child div, .table-wrapper .mytable td:first-child div {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table-wrapper .mytable th:first-child .wrap span{
  text-align: left;
  display: block;
  width:100%;
}

.table-wrapper .mytable tbody th:first-child div, .table-wrapper .mytable tbody td:first-child div {
  text-decoration: underline;
}

.table-wrapper.fixed .mytable th:first-child {
  color: #888;
}

.table-wrapper.fixed .mytable th:first-child>div {
  border-right: 1px solid #ddd;
}

.table-wrapper.extra {
  display: none;
  width: 100%;
  overflow: hidden;
}

.table-wrapper.extra.fixed {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 99;
}

.thead tr th {
  background: #f5f5f5;
  color: #888;
  font-weight: bold;
  font-size: .5rem;
}

.special-th {
  width: 101px;
  position: fixed;
  z-index: 200;
  font-size: .5rem;
  top: 0;
  left: 0;
  background: #f5f5f5;
  color: #888;
  padding: 0 .3rem;
  line-height: calc(2rem + 1px);
  height: calc(2rem + 1px);
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.table-wrapper .mytable1 th:first-child div, .table-wrapper .mytable1 td:first-child div {
  width: auto;
  text-decoration: none !important;
  text-align: center;
}

.table-wrapper.fixed .mytable th:first-child {
  border-right: 1px solid #ddd;
}

.table-wrapper.extra.fixed .mytable th:first-child {
  border-right: none;
}

.table-wrapper.fixed .mytable1 th:first-child div {
  border-right: none;
}

.table-wrapper.extra.fixed .mytable1 th:first-child {
  border-right: 1px solid #ddd;
}

.red {
  color: #f28227;
}

.wd {
  margin-top: .2rem;
}

.sortcolumn {
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 0;
  position: relative;
  text-align: center;
}

.sortcolumn span {
  font-size: .5rem;
  display: block;
  text-align: right;
}

.sortcolumn .el-icon-caret-top, .sortcolumn .el-icon-caret-bottom {
  font-size: .5rem;
  color: #ddd;
}

.sortcolumn .el-icon-caret-bottom {
  position: absolute;
  bottom:.1rem;
}

.sortcolumn .el-icon-caret-top {
  position: absolute;
  top:.1rem;
}

.sortcolumn.up.active .el-icon-caret-top {
  color: #409EFF;
}

.sortcolumn.down.active .el-icon-caret-bottom {
  color: #409EFF;
}

.not-submit {
  font-size: .5rem;
  color: #ff8227;
  padding: .2rem;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.zoom-enter-active, .zoom-leave-active {
  transition: all .3s;
  -webkit-transition: all .3s;
}

.zoom-enter, .zoom-leave-to {
  opacity: 0;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}